- var client_name = ""
- var res_folder ="./"
- var media_folder = res_folder+"media/"

- var css_folder = res_folder + "css/"
- var js_folder = res_folder + "js/"
- var img_folder = media_folder+"imgs/"
- var font_folder = media_folder+"fonts/"
- var video_folder = media_folder+"videos/"
- var logo_file = img_folder + 'logo.svg'
- var dist_sufix = "-dist"
