// @charset "UTF-8";
// @import "../1-helpers/_variables.scss";
// @import "../1-helpers/_mixins.scss";


* {
  box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}


body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}
